<section id="departments" class="departments">
    <div class="container">
        <div class="text-xl-end">
          <button [routerLink]="['/cursos/novo']" class="btn btn-success">
            Cadastrar novo curso
          </button>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <table class="table caption-top">
              <caption>Página de Administração dos Cursos</caption>
              <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Apresentação</th>
                <th>Valor</th>
                <th>Editar</th>
                <th>Deletar</th>
              </thead>
              <br>
              <tbody>
                <tr *ngFor="let item of cursos">
                  <td> {{item.id}} </td>
                  <td>
                    <a [routerLink]="['/cursos', item.id, 'detalhes']">
                      {{item.nome}}
                    </a>
                  </td>
                  <td>{{item.apresentacao}}</td>
                  <td>{{item.preco | currency: 'BRL'}}</td>
                  <td>
                    <button [routerLink]="['/cursos', item.id, 'edit']" class="btn btn-warning btn-sm">
                      Editar
                    </button>
                  </td>
                  <td>
                    <button (click)="deletar(item.id)" class="btn btn-danger btn-sm">
                      Deletar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-xl-end">
              <button [routerLink]="['/principal/home']" class="btn btn-info">
                Voltar para Home
              </button>
            </div>
          </div>
        </div>
    </div>
