<section class="container"> </section>

<!-- ======= LOGIN ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Login</h2>
        </div>
    </div>
    <div class="container">

        <body class="text-center">
            <form class="form-signin">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input [(ngModel)]="aluno.email" name="email" type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input [(ngModel)]="aluno.senha" name="senha" type="password" class="form-control" id="senha">
                </div>

                <div class="d-grid gap-2">
                    <button (click)="realizarLogin()" type="button" class="btn btn-primary">
                          Logar
                      </button>
                </div>





                <!-- <div>
                    <input required email #email="ngModel" [(ngModel)]="usuario.email" name="email" type="mail" id="email" class="form-control" placeholder="Email" required autofocus>
                    <label for="email" class="sr-only"></label>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!email.valid && email.touched">
                    O campo e-mail é obrigatório!
                </div>
                <br>
                <div>
                    <input #senha="ngModel" [(ngModel)]="usuario.senha" id="senha" type="password" class="form-control" placeholder="Senha" required senha>
                    <label for="senha" class="sr-only"></label>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="!senha.valid && senha.touched">
                    O campo senha é obrigatório!
                </div>
                <br><button class="btn btn-lg btn-secndary btn-block" [disabled]="!formulario.valid" type="submit"><a [routerLink]="['/home']">Entrar</a></button>
                <br><br>
                <button type="button" class="btn btn-link"><a [routerLink]="['/home']">Esqueci minha senha</a></button>
                <br> -->
                <!-- <button type="button" class="btn btn-link"><a [routerLink]="['/signin']">Registrar</a></button> -->


            </form>

        </body>
    </div>
</section>