<section class="container"> </section>


<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Editar perfil do Especialista</h2>
        </div>

        <div class="row">
            <form>
                <div class="mb-3 text-center">
                    <img [src]="specialists.foto" width="300px">
                </div>

                <div class="mb-3">
                    <label for="foto" class="form-label">Foto</label>
                    <input type="text" class="form-control" id="foto" name="foto" [(ngModel)]="specialists.foto">
                </div>

                <div class="mb-3">
                    <label for="codigo" class="form-label">Código</label>
                    <input type="number" class="form-control" id="codigo" name="codigo" [ngModel]="specialists.id" readonly>
                </div>

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="specialists.nome">
                </div>

                <div class="mb-3">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="number" class="form-control" id="preco" name="preco" [(ngModel)]="specialists.preco">
                </div>

                <div class="mb-3">
                    <label for="area" class="form-label">Área atuante</label><br>
                    <textarea class="form-control" name="area" id="area" cols="3" rows="1" [(ngModel)]="specialists.area"></textarea>
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label><br>
                    <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="5" [(ngModel)]="specialists.descricao"></textarea>
                </div>

                <div class="row">
                    <div class="d-grid col-6">
                        <button (click)="salvar()" type="button" class="btn btn-success btn-lg">
                            Salvar
                        </button>
                    </div>
                    <div class="d-grid col-6">
                        <button (click)="deletar()" type="button" class="btn btn-primary btn-lg">
                            Deletar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>