<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>Seja bem vindo</h1>
            <h2>Sua jornada de saúde emocional começa aqui!</h2>
            <a href="#about" class="btn-get-started scrollto">Encontre um especialista!</a>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Como iniciar minha terapia?</h3>
                            <p>
                                The healthcare system needs virtual solutions now more than ever. You and your team can revolutionize the way you deliver value-based care.
                            </p>
                            <!-- <div class="text-center">
                <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
                        </div>

                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-receipt"></i>
                                        <h4>1° | Encontre um Especialista</h4>
                                        <p>Do your research and find the psychologist best suited to your needs.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-cube-alt"></i>
                                        <h4>2° | Agende um horário</h4>
                                        <p>Choose the best time. After making the payment, the psychologist will be fully available to you.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-images"></i>
                                        <h4>3° | Aproveite sua terapia!</h4>
                                        <p>In a quiet place, log in from your computer or cell phone</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .content-->
                </div>
            </div>


        </section>
        <!-- End Why Us Section -->

        <app-appointment></app-appointment>
        <app-departaments></app-departaments>
        <app-specialists></app-specialists>
        <app-contact></app-contact>
    </main>
</body>