<section class="container"> </section>


<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Cursos</h2>
        </div>

        <div class="row">
            <div [routerLink]="['/curso-detalhes', obj.id]" class="card mb-3 col-8 m-2" *ngFor="let obj of cursos" style="max-width: 540px;">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title">{{obj.nome}}</h5>
                        <p class="card-text">
                            {{obj.descricao}}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{obj.preco}}
                                  </small>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>