<section class="container"> </section>


<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Cursos</h2>
        </div>

        <div class="row">
            <div class="card" *ngFor="let obj of Curso" style="width: 18rem;">
                <div class="col-sm-12">
                    <div class="card">

                        <div class="card-body" style="margin: 3%; padding: 3%;">
                            <img [src]="obj.foto" class="card-img-top " alt=" ">
                            <h5 class="card-title ">{{obj.nome}}</h5>
                            <p class="card-text ">{{obj.descricao}}</p>
                            <p class="card-text ">
                                <small class="text-muted ">Valor: R$ {{obj.preco}}</small>
                            </p>
                            <a [routerLink]="['/curso-detalhes', obj.id]" routerLinkActive="active"><button
                                class="btn btn-primary btn-lg" type="button">Saiba mais</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>