<section class="container"> </section>


<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Detalhe do Curso</h2>
        </div>

        <div class="row">
            <form>
                <div class="mb-3 text-center">
                    <img [src]="curso.foto" width="300px">
                </div>

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" [ngModel]="curso.nome" readonly>
                </div>

                <div class="mb-3">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="number" class="form-control" id="preco" name="preco" [ngModel]="curso.preco" readonly>
                </div>

                <div class="mb-3">
                    <label for="apresentacao" class="form-label">Apresentacao</label>
                    <textarea disabled class="form-control" name="apresentacao" id="apresentacao" cols="3" rows="1" readonly>{{curso.apresentacao}}</textarea>
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea disabled class="form-control" name="descricao" id="descricao" cols="3" rows="5">{{curso.descricao}}</textarea>
                </div>

                <div class="row">
                    <div class="d-grid col-6">
                        <button [routerLink]="['/login']" type="button" class="btn btn-warning btn-lg">
                            Comprar
                        </button>
                    </div>
                    <div class="d-grid col-6">
                        <button [routerLink]="['/cursos']" type="button" class="btn btn-primary btn-lg">
                        Voltar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
