<section class="container"> </section>


<section id="doctors" class="doctors">
    <div class="container">

        <div class="section-title">
            <h2>Cursos</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-4 mt-lg-4 mx-auto" *ngFor="let obj of cursos">
                <div class="member d-flex align-items-start">
                    <div class="pic">
                        <a [routerLink]="['/cursos', obj.id, 'detalhes']"><img [src]="obj.foto" class="img-fluid" alt=""></a>
                    </div>
                    <div class="member-info">
                        <h4>{{obj.nome}}</h4>
                        <span>{{obj.apresentacao}}</span>
                        <p>Valor: R$ {{obj.preco}},00</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


