

<form>
    <div class="mb-3 text-center">
      <img [src]="curso.foto" width="300px">
    </div>

    <div class="mb-3">
        <label for="foto" class="form-label">Foto</label>
        <input type="text" class="form-control" id="foto" 
        name="foto" 
        [(ngModel)]="curso.foto">
    </div>
  
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" 
      [(ngModel)]="curso.nome">
    </div>
  
    <div class="mb-3">
      <label for="preco" class="form-label">Preço</label>
      <input type="number" class="form-control" id="preco" name="preco" 
      [(ngModel)]="curso.preco">
    </div>
  
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label><br>
      <textarea class="form-control"  name="descricao" id="descricao" cols="30" rows="5" 
      [(ngModel)]="curso.descricao"></textarea>
    </div>
  
  
   

    <div class="d-grid gap-2">
      <button (click)="cadastrar()" type="button" class="btn btn-success">
        Salvar
      </button>
    </div>
  </form>